*{
    padding: 0%;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.header{
    
    background-color: beige;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    position: relative;
    opacity: 0.9;
 
}
.header h1{
    text-align: center;
   margin-top: 6px;
   text-size-adjust: 200px;
   font-size: 70px;
   color: cornflowerblue;
   border-end-end-radius: 200px;
}
.header img{
   
    height: 300px;px;
    width: auto;
    border-radius: 1000px;
    background-color: bisque;
}
.fr mn{
    height: 8px;
}
